{% extends 'base.html.twig' %}

{% block body %}
     {{ include('includes/entete-menu-defilant.html.twig') }}
<div id="cgDiv">
    <div id="container">
            <div  style="background: #fff;padding: 5px;color: #5f6368;font-size: 15px;line-height: 1.4286;">
            
                       
                <div id="welcome" style="text-align: center">
                <h2><b>Conditions Générales d’Utilisation et de Vente</b></h2>
            </div>
            <div id="next"> 
                <p>
                    Les présentes conditions générales d’Utilisation et de Vente doivent être acceptées et respectées par tout Utilisateur de l’Application samaCOFFRE. L’accès ou la souscription aux Services auprès de la Solution signifie que vous acceptez ces Conditions Générales d’Utilisation et de Vente et la Politique de Confidentialité. 
                    L’inscription aux Services de la Solution par le Client entraîne l’acceptation des présentes Conditions Générales d’Utilisation et de Vente et de la Politique de Confidentialité mises en place.
                </p>
                <h4><b>1. Identification et Contact</b></h4>
                <p>
                    L'Application est exploitée par L.S.D (Les Spécialistes de la Dématérialisation), entreprise informatique  dont le siège social est à MBAO VILLE NEUVE immatriculée au Registre du commerce sous le numéro SN DKR 2021 A30776-NINEA 008864606 1D1.
                   Email : samacoffre@samacoffre.sn, Téléphone: 76 462 20 14.
                </p>
                <h4><b>2. Objet</b></h4>
                <p>
                    Cette Solution Web/Mobile a pour objet de permettre aux Entreprises qui doivent à leurs Employés et Clients des Documents personnalisés ou Informations , tels que Bulletins de Paie, Décisions, Factures,  Relevés et Avis Bancaires..., 
                    de les déposer à un seul et même endroit  pour le Client ou l'Employé. Ce dernier les recevra en temps réel.<br/>

                    <br/>Les présentes CG précisent les termes et conditions qui encadrent l’utilisation de la Solution.
                </p>
                <h4><b>3. Définitions</b></h4>
                
                <table class="table">
                    <tbody>
                        <tr>
                            <td><b>Solution</b></td>
                            <td><p>désigne l'Application samaCOFFRE.</p></td>
                        </tr>
                        
                        <tr>
                            <td><b>Service</b></td>
                            <td><p>désigne le Type de Document à déposer dans les Coffres.</p></td>
                        </tr>
                        <tr>
                            <td><b>Droit Gestion Coffre</b></td>
                            <td><p>désigne la permission donnée à l'Utilsateur Guichet en vue de faciliter à l'Administrateur la Gestion des Coffres.
                                    </p></td>
                        </tr>
                        
                        <tr>
                            <td><b>Hébergeur*</b></td>
                            <td>
                                <p>
                                    désigne la société auprès de laquelle EMS-Sénégal sous-traite l’hébergement de l'Application et des bases de données associées. OVH
                                    SARL au capital de 8 000 000 FCFA
                                    NINEA 2599770 2 B 2 - RC : SN DKR 2006 B 7407
                                    Siège social : Avenue Abdoulaye FADIGA - Immeuble Lahad MBACKE
                                    BP : 50505 – DAKAR/SENEGAL.
                                </p>
                            </td>
                        </tr>
                        
                        <tr>
                            <td><b>CG</b></td>
                            <td><p>désigne les présentes Conditions Générales d’Utilisation et de Vente.</p></td>
                        </tr>
                        
                        <tr>
                            <td><b>Contrat</b></td>
                            <td><p>
                                    désigne les présentes CG.
                            </p></td>
                        </tr>
                        
                        <tr>
                            <td><b>Client</b></td>
                            <td><p>
                                    désigne toute Entreprise s’étant inscrite  pour bénéficier des Services de la Solution  après acceptation du Contrat.
                            </p></td>
                        </tr>
                        
                        <tr>
                            <td><b>Espace&nbsp;Client</b></td>
                            <td>
                                <p>désigne l’espace d'administration du Client lui permettant entre autres de souscrire aux Services, de créer des Guichets pour leur déléguer  des tâches d'administration des Coffres Clients ou Employés, de déposer des Documents...
                                   </p></td>
                        </tr>
                        
                        <tr>
                            <td><b>Guichet</b></td>
                            <td><p>
                                    désigne l'utilisateur rattaché à un point de service de l'Entreprise à qui est attribué les tâches d'administration des Coffres Clients ou Employés (Création Coffre et Relation Coffre/Service) dans le souci d'alléger cette tâche à l'administrateur du compte.
                            </p></td>
                        </tr>
                        
                        <tr>
                            <td><b>Administrateur du compte</b></td>
                            <td><p>désigne l'utilisateur de l'Espace&nbsp;Client de l'Entreprise inscrite.</p></td>
                        </tr>
                        
                        <tr>
                            <td><b>Coffre</b></td>
                            <td><p>désigne l'Utilisateur devant recevoir des Documents Personnalisés ou Informations.</p></td>
                        </tr>
                        
                       
                        <tr>
                            <td><b>Référence*</b></td>
                            <td><p>désigne le nom du document dans le flux de documents à déposer dans les Coffres-Forts. Il s'agit de matricule pour les Bulletins de Paie et Décisions de Congé, de numéro de compte pour les Relevés et Avis Bancaires et de Référence Client pour les Factures Clients.</p></td>
                        </tr>
                    </tbody>
                </table>
                 <h4><b>4. Parties au Contrat</b></h4>
                 <p>
                     Le présent Contrat est conclu entre L.S.D et le Client. Les Services de la Solution s’adressent aux Entreprises qui envoient des Documents Personnalisés ou Informations à leurs Employés et Clients.  
                 </p>
                 <h4><b>5. Documents contractuels</b></h4>
                 <p>
                     Les présentes CG représentent l'unique document contractuel entre L.S.D et le Client.<br/>
                     
                    Elles s’appliquent à l’ensemble des ouvertures d’Espace Client. Elles couvrent les  périodes d’utilisation gratuites accordées par la Solution à ses prospects pour leur permettre de se familiariser et la continuité d'utilisation.<br/>
                     L.S.D se réserve le droit de modifier les présentes CG à tout moment sans préavis des Clients. 
                 </p>
                 <h4><b>6. Caractéristiques de la Solution</b></h4>
                      <p>La Solution met en relation l'Entreprise et son Employé ou Client denommé sous le nom Coffre . Le Coffre (Employé ou Client d'Entreprise) attend de recevoir des Documents Electroniques de l'Entreprise.</p>
                 
                        <ul style="list-style: none;">
                            <li>  <h5><b>6.1 Inscription Entreprise</b></h5>
                                <p>
                                   Le Client Entreprise doit renseigner un certain nombre d’informations sur lui. L'adresse email (professionnelle de préférence) de la personne désignée comme administrateur du compte devra être indiquée.<br/>
                                   Une fois le processus d’Inscription finalisé, le Client pourra accéder à son Espace Client avec ses identifiants de connexion(email et mot de passe).
                                </p>  
                            </li> 
                        
                            <li>   <h5><b>6.2 Création Guichets</b></h5>
                                <p>
                                   L'administrateur du compte  de l'Espace Client  peut créer des comptes utilisateurs Guichets  en vue de lui faciliter la gestion des Coffres Clients ou Employés.
                                  <br/> Pour créer un Guichet, l'Administrateur doit créer d'abord le Point de Service auquel sera rattaché le Guichet. Un point de Service peut contenir jusqu'à trois Guichets. Il doit fournir l'email(professionnel de préférence), le numero de téléphone de l'utilisateur Guichet. 
                                  <br/>Toutefois, l'administrateur  peut soustraire  le Droit Gestion Coffre  à l'utilisateur Guichet.
                               </p>
                            </li> 
                            
                           
                            
                            <li>  <h5><b>6.3 Souscription Service</b></h5>
                                <p> Le choix de la categorie de l'Entreprsie au moment de l'inscription  lui permet d'acceder à un certain nombre de Services auxquels elle  pourra souscrire.

                                  Les Services sont definis en fonction des types de Documents à déposer dans les Coffres Clients ou Employés.
                                  <br/>
                                 La souscription à un Service requiert un certain nombre d'informations que sont le type de Document, le Droit de Traitement et/ou Dépôt, le Droit Guichet  et de la Durée de Stockage.
                                </p>
                            </li> 
                            
                            <li>  <h5><b>6.4 Création Coffre</b></h5>
                                <p>
                                    Elle doit se faire par l'Employé ou le Client(Personne morale ou physique) d'Entreprsise qui doit fournir un certain nombre d'information sur lui-même.
                                    Une fois que la création  du Coffre est finalisé, il  pourra accéder à son compte avec ses identifiants de connexion(email et mot de passe).
                                    <br/>
                                    Elle peut se faire aussi par l'Administrateur et les Guichets. Dans ce cas, les identifiants de connexion sont envoyés par mail au client ou à l'employé.
                                </p>
                            </li> 
                        
                           
                        </ul> 
                 
                 
                  
                      
              <h4><b>7. Intégration avec les applications métiers clients</b></h4>
                <ul style="list-style: none;">
                    <li>   <h5><b>7.1 Relation Coffre/Service</b></h5>
                        <p>
                            Pour que le client ou l'employé puisse bénéficier d'un Service (Document), il faut que son Coffre soit relié à ce Service par l'Administrateur de l'Entreprise ou ses Guichets.
                        </p>
                    </li>
                    
                     
                    <li>  <h5><b>7.2 Génération des Documents</b></h5>
                       <p>
                           Les Documents personnalisés tels que les Bulletins de Paie et Décisions,  Relevés et Avis de Banque, Factures...,
                            sont géneerés et nommés respectivement par leurs identifants (matricule, numéro de compte et référence) sous format PDF par l'application métier du Client Entreprise .
                           <br/>
                           LSD met son expertise à la disposition du Client en cas de difficulté de générer des Documents PDF personnalisés.        
                               </p>
                        
                    </li>
                            
                            <li>  <h5><b>7.3 Mise en ligne</b></h5>
                                <p> 
                                La Solution n'autorise que les Dépôts de Documents au format PDF. 
                                <br/>Les Documents se trouvant dans un répertoire sous format PDF peuvent être deposés simultanément dans les Coffres Clients ou Employés par l'Administrateur.
                                <br/>
                                La solution offre aussi une fonctionnalité  de dépôts de Documents non personnalisés (Circuliare, Faire-part, Note de service ..., ou Information Client) destinés à l'ensemble des employés ou clients.
                            </p>
                            </li>
                </ul> 
                    
                           
                      
                <h4><b>7. Prix et Facturation</b></h4>
                    <ul style="list-style: none;">
                        <li>  <h5><b>7.1 Les Prix</b></h5>

                            <p>Les prix des Documents mis en ligne dans les Coffres clients ou employés sont proposés en fonction des unités de Documents.
                           Est considéré comme Document unitaire, un Document de un à quatre pages. Ainsi , tout Document de cinq à huit pages est considéré comme  deux Documents uniataires, de neuf à douze pages comme trois Documents uniataires...
                          
                           <br/>  
                            Le Prix (TTC)  d'un Document unitaire  est défini pour:</p>
                         
                            <ul style="list-style: none;">
                                <li>
                                    <b>A. une Durée de Stockage de 3 mois</b>
                                    <ul>
                                           <li>200 FCFA pour les Bulletins de Paie et Décisions,</li>
                                           <li>200 FCFA pour les Communications Personnel ou Clients,</li>
                                           <li>200 FCFA pour les Contrats,</li>
                                           <li>200 FCFA pour les Relevés et Avis Bancaires,</li>
                                           <li>150 FCFA pour les Factures clients.</li>
                                    </ul>
                                </li>
                                <li>
                                      <b>B. une Durée de Stockage de un an </b>
                                     <ul>
                                           <li>300 FCFA pour les Bulletins de Paie et Décisions,</li>
                                          
                                           <li>300 FCFA pour les Contrats,</li>
                                           <li>300 FCFA pour les Relevés et Avis Bancaires,</li>
                                           <li>250 FCFA pour les Factures clients.</li>
                                    </ul>
                                <li>     
                            </ul><br/>
                              
                        </li> 
                        <li>  <h5><b>7.2 La Facturation</b></h5>
                            <p>
                                Les factures seront émises à la fin de chaque mois de dépôts de Documents par le Client. La Solution n'autorise pas trois mois de dépôts de Documents sans paiement. C'est-à-dire si le Client à deux factures non payées, il ne lui sera pas possible de faire d'autres dépôts
                                tant qu'il n'a pas payé les antérieures. Toute facture est payable à compter de son émission.
                                  <br/>
                                 Le paiement se fait par virement bancaire sur le compte indiqué dans la facture.  D'ici peu, il se fera aussi par porte-monnaie électronique ou carte bancaire.
                            </p> 
                        </li> 
                    </ul>
                
              
                
                <h4><b>8. Confidentialité</b></h4>
                    <ul style="list-style: none;">
                        <li>  <h5><b>8.1 Confidentialité des Identifiants</b></h5>
                            <p>
                                Les Identifiants et mots de passe sont strictement personnels et confidentiels. Les Utilisateurs s’engagent à les garder secrets et à ne pas les divulguer sous quelque forme que ce soit. Leur usage et/ou transmission à des tiers, par un Utilisateur, se fait sous son entière responsabilité.
                                <br/>
                                L’Utilisateur doit se déconnecter à l’issue de chaque session de connexion à l’Application.<br/>
                                En cas de perte de mot de passe d’un Utilisateur, il clique sur lien 
                                <span  style="font-size: 16px;font-weight: bold">Mot de passe oublié ?</span> 
                                 de la page de connexion et renseigne son adresse email et son mot de passe lui sera envoyé par  mail.
                            </p>
                        </li> 
                        <li>  <h5><b>8.2 Confidentialité des données</b></h5>
                            <p>
                                Seules nos équipes et l’hébergeur sont habilités à travailler sur le Site et l’Application pour assurer sa maintenance et mise à jour.
                                <br/>
                                
                                Une protection et une confidentialité des données personnelles stricte et garantie. Les documents contenus dans le compte personnel client ou employé ne sont pas accessibles par LSD ou l'Hébergeur.
                                <br/>
                                 
                               Le Client pourra faire recours aux  lois de protection des données personnelles prévues sur le territoire national en cas de manquement. 
                            </p> 
                        </li> 
                    </ul>
                
                 <h4><b>9. Résiliation du Contrat</b></h4>
                 <p> 
                     Le Contrat peut être résilié à tout moment par le Client. Les données Client seront supprimées définitivement de l'Application au bout de quelques temps après résiliation du Contrat  . Le client recevra une notification par mail l'informant que ses données sont définitivement supprimées de nos Serveurs.
                 </p>
                 
                 <h4><b>10. Evolution de la Solution</b></h4>
                 <p> 
                    L’interface de l’Application, de l’Espace Client, ou le contenu peuvent être modifiés en fonction des améliorations ou des mises à jour apportées sans information préalable du Client.
                    <br/>
                    Les applications mobiles natives Adroid et iOS pour les interfaces Coffres Clients ou Employés seront bientôt disponibles.
                 </p>
                
                    
                    
                
                 
                 
                 
                
               
                 
            </div>

        </div>
    </div>
</div>                     
                    
{% endblock %}


  
